<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="radio" id="animal" value="animal" v-model="loveType">
        <label for="animal">Animal</label>
        <input type="radio" id="flower" value="flower" v-model="loveType">
        <label for="flower">Flower</label>
        <br>
        <span>LoveType : {{loveType}}</span>
    </div>
    <script>
        var app = new Vue({
            el : '#app',
            data : {
                loveType : '',
                loveList : []
            },
            computed : {

            },
            watch : {

            }
        });
    </script>
</body>
</html>